.navbar-color{
  background-color: green;
}

.text-color{
  color: white !important;
}
.margin-menu{
  margin-right: 5px;
}

html, body{
  width: 100%;
  height: 100%;
  }

header{
position: relative;
width: 100%;
min-height: auto;
background-size: cover;
background-position: center;
text-align: center;
color: white;
text-shadow:black 0.1em 0.1em 0.2em;
background-image: url("../img/cidade.jpg");
}

header .header-content{
  position: relative;
  width: 100%;
}

@media (min-width: 200px) {
  header {
    min-height: 100%;
    text-align: center;
    font-family: 'Lobster', cursive;
  }
  header .header-content{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
    text-align: center;
  }
  header .header-content .header-content-inner{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
   }
}

h1{
  font-size: 700%;
}
